@use '../base/variable' as *;

.box {
  padding: 20px 20px;
  border: 1px solid $light-grey;
  border-top: 5px solid $light-blue;
  border-radius: 5px;
  background-color: white;

  a:not(.btn) {
    text-decoration: none;
    color: $light-blue;
  }
}

.home-box {
  margin: 50px 0;
}

.blog-prev-next-box {
  padding: 10px 15px;
  max-width: 250px;
}

.blog-prev-next-box:last-child {
  text-align: right;
}

.dark {
  .box {
    background-color: hsl(0, 0%, 20%);
  }
}
