@use '../base/variable' as *;

.box {
  margin: 50px 0px;
  padding: 20px 20px;
  border: 1px solid $light-grey;
  border-top: 5px solid $light-blue;
  border-radius: 5px;
  background-color: white;
}
