@use '../base/variable' as *;

.btn {
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn-primary {
  background-color: $light-blue;
  color: white;
}

.btn-primary:hover {
  background-color: $medium-blue;
}

.btn-secondary {
  background-color: white;
  border: 1px solid $light-blue;
  color: $light-blue;
}

.btn-secondary:hover {
  background-color: $light-blue;
  color: white;
}

.btn-theme-toggle {
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin: 6px 12px;
  outline: none;
}

.btn-theme-toggle:hover {
  color: hsl(44, 100%, 55%);
}

.dark {
  .btn-theme-toggle {
    color: white;
  }

  .btn-theme-toggle:hover {
    color: hsl(44, 100%, 55%);
  }
}
