@use '../base/variable' as *;

.blog-post-content {
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p,
  hr,
  pre,
  img,
  table {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    font-weight: bold;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: $light-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 2em;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
  }

  li {
    list-style-position: outside;
  }

  li > p {
    margin-bottom: 0;
  }

  table,
  th,
  td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid $grey;
  }
}
