@use '../base/variable' as *;

.blog-list-wrapper {
  padding-top: 20px;
}

.blog-list-item-wrapper {
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: $medium-blue;
  }

  a:hover {
    color: $light-blue;
  }
}

.blog-top-wrapper {
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
}

.blog-title {
  margin-bottom: 10px;
  font-family: $primary-font;
  color: $medium-blue;
}

.blog-date-container {
  margin-bottom: 15px;
}

.blog-icon-seperator {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid $medium-grey;
}

.blog-icon {
  margin-right: 5px;
  top: 0.125em;
  position: relative;
}

.blog-tag {
  background-color: $light-grey;
  color: white;
  margin-right: 5px;
  padding: 2px 10px;
  border-radius: 5px;
}

.blog-post-content {
  font-size: 1.2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p,
  hr,
  pre,
  img,
  table {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    font-weight: bold;
    color: $dark-grey;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: $light-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 2em;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
  }

  li {
    list-style-position: outside;
  }

  li > p {
    margin-bottom: 0;
  }

  table,
  th,
  td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid $light-grey;
  }

  blockquote {
    color: $medium-grey;
    border-left: 4px solid $medium-grey;
    padding-left: 20px;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    padding-top: 5px;
  }
}
