@use '../base/variable' as *;

.section-avatar {
  text-align: center;
  padding: 50px;
}

.img-avatar {
  border-radius: 50%;
  width: 200px;
}

.avatar-name {
  border-bottom: solid 5px $light-blue;
  width: fit-content;
  margin: 10px auto;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 26px;
  font-family: $primary-font;
}

.avatar-desc {
  font-size: 20px;
  margin-bottom: 10px;
}

.icon-link {
  font-size: 30px;
  color: black;
  margin-right: 10px;
}

.icon-link:hover {
  color: $light-blue;
}

.section-heading {
  font-family: $primary-font;
  margin-bottom: 20px;
}

.section-intro {
  background-color: #f7f7f7;
  padding: 10px;
}
