@use '../base/variable' as *;

.site-wrapper {
  margin-top: 100px;
  font-family: $content-font;
  min-height: calc(100vh - 150px);
}

.content-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.section-avatar {
  text-align: center;
  padding: 50px;
}

.img-avatar {
  border-radius: 50%;
  width: 200px;
}

.avatar-name {
  border-bottom: solid 5px $light-blue;
  width: fit-content;
  margin: 10px auto;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 26px;
  font-family: $primary-font;
}

.avatar-desc {
  font-size: 20px;
  margin-bottom: 10px;
}

.icon-link {
  font-size: 30px;
  color: black;
  margin-right: 10px;
}

.icon-link:hover {
  color: $light-blue;
}

.box {
  margin: 50px 0px;
  padding: 10px 20px;
  border: 1px solid $light-grey;
  border-top: 5px solid $light-blue;
  border-radius: 5px;
  background-color: white;
}

.section-heading {
  font-family: $primary-font;
  margin-bottom: 20px;
}

.section-intro {
  background-color: #f7f7f7;
  padding: 10px;
}
