@use '../base/variable' as *;

.site-wrapper {
  margin-top: 70px;
  font-family: $content-font;
  min-height: calc(100vh - 150px);
}

.content-wrapper {
  max-width: 70ch;
  margin: auto;
  padding: 0 20px;
}

.dark {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
}
