@use '../base/variable' as *;

.site-wrapper {
  margin-top: 100px;
  font-family: $content-font;
  min-height: calc(100vh - 150px);
}

.content-wrapper {
  max-width: 70ch;
  margin: auto;
  padding: 0 20px;
}
