// color
$light-blue: #509dff;
$light-grey: #b1b1b1;
$medium-grey: #888888;

// font
$default-sans-serif-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  "Segoe UI", Ubuntu, Roboto, sans-serif;
$defaul-monospace-font: ui-monospace, Menlo, Consolas, "DejaVu Mono",
  "Ubuntu Mono", monospace;
$primary-font: "Noto Sans", $default-sans-serif-font;
$content-font: "IBM Plex Sans", $default-sans-serif-font;
$monospace-font: $defaul-monospace-font;

// width
$mobile-width: 768px;
